bin/*
.idea/
*.iml
target/
test-output/
.DS_Store
*/.DS_Store
.classpath
.project
.settings/
*.apk
*/*.apk
*.ipa
*/*.ipa
*.app
*/*.app
/.gradle/
Reports/
Logs/
logs/
ScreenShots/
res/apps/*
*/res/apps/*
/*-app-uat-release-*/*
/src/test/java/com/test_db*.java
/scripts-local/*.log
*.log
/res/lang/vi/gami.xml
*/*.exec
src/main/resources/db.properties
gradle/
.factorypath
remote-config.json
CucumbeReport/
.vscode
*.txt
TestResults/
.idea
*/.idea